The underneath code describes car 1 and car 2 using a class variable.

In [ ]:
class vehicles:
    name = ""
    kind = "car"
    value = 100.000
    color = ""
    def description(self):
        descr_str = "%s is a %s %s worth $%2f." %(self.name, self.kind, self.color, self.value)
        return descr_str

car1 = vehicles()
car1.name = "Fer"
car1.kind = "convertible"
car1.value = 60.000
car1.color = "red"

car2 = vehicles()
car2.name = "Jump"
car2.kind = "Van"
car2.value = 10.000
car2.color = "blue"

print(car1.description())
print(car2.description())

This exercise will go through a series of 15 numbers. For numbers dividable by 3, it will print "Wip", for numbers dividable by 5 it will print "Wap", for numbers dividable by 5 and 3 it will print "Wip Wap".

In [14]:
for i in range(1,16):
    if (i%3 == 0) and (i%5 == 0):
        print(i,"Wip Wap")
    elif (i%3 == 0):
        print(i,"Wip")
    elif (i%5 == 0):
        print(i,"Wap")
    else:
        print("This number is not dividable by 3 or 5")

This number is not dividable by 3 or 5
This number is not dividable by 3 or 5
3 Wip
This number is not dividable by 3 or 5
5 Wap
6 Wip
This number is not dividable by 3 or 5
This number is not dividable by 3 or 5
9 Wip
10 Wap
This number is not dividable by 3 or 5
12 Wip
This number is not dividable by 3 or 5
This number is not dividable by 3 or 5
15 Wip Wap

The below code is a while loop. As long as 'count' is smaller than 5, count will be printed. At every iteration 'count' is replaced by 'count + 1'. The loop stops when count is larger than 5.

In [20]:
count = 0
while (count < 5):
    print(count)
    count = count + 1

0
1
2
3
4

The below example shows how to convert an array or a list of, in this case kilometers walked, into a numpy array. We then use the numpy array to convert from kilometers to miles. We use the np.around function to round our new variables down to two decimal places.

In [30]:
import numpy as np
distance_walked_km = [15,13,9.3,2.8,7,13.3]
conv = 0.621371192

np_distance_walked_km = np.array(distance_walked_km)
np_distance_walked_ml = np.around(np_distance_walked_km * conv, decimals=2)

print(np_distance_walked_ml)

[ 9.32  8.08  5.78  1.74  4.35  8.26]

The below example shows how a list can be converted into a dataframe using Pandas. We then change the index from numbers ( 0 to 4 in this case) to the first two letters of each country. Lastly, we rename the index column to Country initial.

In [21]:
dict = {"Country":["Brazil","Russia","India","China","South Africa"], 
        "Capital":["Brasilia","Moscow","New Delhi","Beijing", "Pretonia"], 
        "Area":[8.516,17.10,3.286,9.597,1.211],
        "population":[200.4,143.5,1252,1357,52.98]
       }

import pandas as pd
df = pd.DataFrame(dict)
df.index = df["Country"].str[:2]
df.index.names = ["Country initial"]

print(df)

                   Area    Capital       Country  population
Country initial
Br                8.516   Brasilia        Brazil      200.40
Ru               17.100     Moscow        Russia      143.50
In                3.286  New Delhi         India     1252.00
Ch                9.597    Beijing         China     1357.00
So                1.211   Pretonia  South Africa       52.98